/** 以 liu 为开头的全局自定义 class */

/** 对于按钮的特效 */

/** reject user-select */
.liu-no-user-select {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.liu-hover {
  position: relative;
  cursor: pointer;
  outline: 0;
}

.liu-hover::before {
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  transition: .1s;
  opacity: 0;
  background-color: var(--primary-color);
}

/** 对于毛玻璃的效果 */
.liu-frosted-glass {
  position: relative;
}

.liu-frosted-glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--frosted-glass-3);
  overflow: hidden;
}

.liu-frosted-glass_again {
  position: relative;
}

.liu-frosted-glass_again::before {
  content: "";
  position: absolute;
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
}


/********* 仅在有鼠标的设备上生效 *********/
@media(hover: hover) {

  .liu-hover:focus-visible {
    outline: 2px solid var(--main-normal);
  }

  .liu-hover:hover::before {
    opacity: .06;
  }

  .liu-hover[aria-label]::after {
    content: attr(aria-label);
    position: absolute;
    top: 100%;
    right: 50%;
    padding: 0px 12px;
    border-radius: 4px;
    background-color: var(--cui-loading);
    color: var(--on-cui-loading);
    font-size: var(--mini-font);
    font-weight: 400;
    white-space: pre;
    margin-top: 4px;
    line-height: 2;
    transform: translateX(50%);
    user-select: none;
    -webkit-user-select: none;
    box-shadow: var(--tooltip-shadow);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: 5210;
    transition: opacity 90ms;
    transition-delay: 250ms;
  }

  .liu-hover[aria-label]:hover::after {
    visibility: visible;
    opacity: 1;
  }

  .liu-hover_first[aria-label]::after {
    right: 100%;
    transform: translateX(100%);
  }

  .liu-hover_last[aria-label]::after {
    right: 0;
    transform: translateX(0);
  }
}

.liu-hover:active::before {
  opacity: .1;
}

/** 必须设置在 <span> 标签上，用于实现反白高亮 */
.liu-selection::selection {
  color: var(--on-primary);
  background-color: var(--primary-active);
}