
:root {
  font-family: "SF Pro Text", "SF Pro Icons", Inter, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  /** 一些全局的 css 变量 */
  /** 设备断点 */
  --max-phone: 600px;
  --max-pad: 1100px;
  --max-laptop: 1600px;

  /** 标准页宽 竖列模式 */
  --standard-max-px: 500px;

  /** 各字号 */
  --big-word-style: 36px;
  --head-font: 28px;
  --title-font: 24px;
  --desc-font: 20px;
  --inline-code-font: 18px;
  --btn-font: 17px;
  --mini-font: 15px;
  --state-font: 13px;

  /** 评论的文字大小 */
  --comment-font: 18px;
  --comment-inline-code: 16px;

  /** 卡片宽度 */
  --card-min: 200px;
  --card-max: 800px;
}

@media screen and (min-width: 1600px) {
  :root {
    --card-min: 250px;
    --card-max: 850px;
  }
}


body {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  background: transparent;
  padding: 0;
  border: 0;
}

input {
  background: transparent;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/**************** 一些常用的 css **************/

/** xxx-content 的 layout */
.liu-mc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.liu-mc-container > .liu-tc-virtual {
  width: 100%;
  height: 10px;
}

.liu-mc-container > .liu-mc-box {
  width: 90%;
  max-width: var(--card-max);
  min-width: var(--card-min);
  position: relative;
}

.liu-mc-box > .liu-mc-spacing {
  width: 100%;
  height: 10px;
}


/** 一些页面顶部，会出现的置顶提示 highlight 框 */
.liu-highlight-box {
  width: 100%;
  position: relative;
  padding: 30px;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: var(--mini-font);
  margin-block-end: 20px;
  overflow: hidden;
  background-color: var(--card-bg);
}

.liu-highlight-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: .19;
  pointer-events: none;
}