
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /** 一些全局的 css 变量 */
  /** 设备断点 */
  --max-phone: 600px;
  --max-pad: 1100px;
  --max-laptop: 1600px;

  /** 标准页宽 竖列模式 */
  --standard-max-px: 500px;

  /** 各字号 */
  --big-word-style: 36px;
  --head-font: 28px;
  --title-font: 21px;
  --desc-font: 18px;
  --btn-font: 17px;
  --mini-font: 15px;
}

body {
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input {
  background: transparent;
}

.div-bg-img {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}