/** 浅色系 */

.theme-light {
  --primary-color: #2a6885;   /** 皇家蓝 #00416A */
  --on-primary: #fafafa;
  --primary-hover: #1c5671;
  --primary-active: #15455e;
  --inverse-primary: #88d1ff;

  --card-bg: #ffffff;
  --bg-color: #eaecef;
  --main-text: #1f2429;
  --main-normal: #3f4549;
  --main-code: #686868;
  --main-note: #ababab;
  --main-tip: #bfbfbf;
  --on-main-code: rgba(104, 104, 104, .1);
  --scrollbar-thumb: #c3c3c3;
  --popup-bg: rgba(0, 0, 0, .8);
  --select-bg: #ddf2f9;
  --select-code: #264f78;

  --sidebar-bg: #ffffff;
  --sidebar-scrollbar-thumb: #dcd7d5;
  
  --line-default: #e2e3e4;    /** 浅浅的分割线 */
  --line-bottom: #dedede;
  --line-hover: #d1d1d1;
  --line-active: #ababab;

  --other-btn-bg: #f3f3f3;
  --other-btn-text: #565656;
  --other-btn-hover: #e9e9e9;

  --card-shadow: 0 4px 6px -2px rgba(0, 0, 0, .1);
  --card-shadow-2: 0 2px 2px -0.5px rgba(0, 0, 0, .04);
  --card-shadow2-hover: 0 12px 5px -6px rgba(0, 0, 0, .04);
  --editor-shadow: 0 24px 4px -12px rgba(0, 0, 0, .04);
  --floating-shadow: 0 6px 24px rgba(0, 0, 0, .15);
  --kanban-header-shadow: 0 12px 6px -6px rgba(0, 0, 0, .1);
  --liu-hr: #e9e9e9;   /** 卡片里的分割线、引用的那条 bar */
  --liu-quote: #868686;  /** 引用里的文字色 */
  --liu-image: #f7f7f7;

  /** 一些比较少用到的 css 变量 */
  --vice-bg: #f1f2f5;
  --vice-shadow: -7px 0 14px 1px rgba(0,0,0,.11);
  --vice-scrollbar-thumb: #bababa;
  --navi-normal: #4f5559;            /** 侧边栏链接 默认颜色 */
  --drag-bg: #ddf2f9;        /** 拖动时的背景色 */
  --drag-border: #aaf2f9;    /** 拖动时的边框色 */
  --gradient-one: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 96%);
  --gradient-two: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 96%);
  --cool-bg: linear-gradient(30deg, #ACB6E5, #70ded9);
  --tag-bg: #f2f4f7;
  --tag-hover: linear-gradient(60deg, #eaeaea, #f2f4f7);
  --tooltip-shadow: 0 8px 18px 1px rgba(0,0,0,.28);

  /** 自定义组件: 加载框 */
  --cui-loading: rgba(46, 46, 46, .93);
  --on-cui-loading: #eeeeee;
  --cui-loading-shadow: 0 10px 20px 1px rgba(0,0,0,.38);

  /** bubble-menu */
  --bubble-menu-bg: #333;
  --bubble-menu-color: #fafafa;
  --bubble-menu-shadow: 0 6px 12px rgba(0, 0, 0, .38);

  /** 自定义组件: modal */
  --cui-modal: rgba(250, 250, 250, .82);
  --cui-modal-blur: blur(2.5px);
  --cui-modal-other-btn-bg: #f1f1f1;
  --cui-modal-other-btn-hover: #eaeaea;

  /** 自定义组件: snackbar */
  --cui-snackbar: #362f2f;
  --on-cui-snackbar: #ffffff;
  --cui-snackbar-shadow: 0 6px 12px rgba(0, 0, 0, .18);

  /** 自定义组件: action-sheet，但希望这个组件的颜色是通用的 */
  --cui-actionsheet-bg: #fafafa;

  /********* 毛玻璃背景 **********/
  --frosted-glass: rgba(255, 255, 255, .7);    /** 盖在 sidebar 上，让侧边栏的绚彩模糊 */
  --frosted-glass-2: rgba(250, 250, 250, .85);  /** spotlight 模态框的背景色 */
  /** 跟随 --bg-color 的背景色 */
  --frosted-glass-3: linear-gradient(0deg, rgba(234, 236, 239, .86) 50%, rgba(234, 236, 239, .75) 90%);
  --frosted-glass-4: rgba(255, 255, 255, .66);    /** navi-auto 在有阴影状态时的背景色 */

  /** drag-handle */
  --liu-drag-handle: #d0d3d9;

  /** 状态色 */
  --liu-state-1: #BAAEA2;
  --liu-state-2: #909871;
  --liu-state-3: #BC7F79;
  --liu-state-4: #9786B1;
  --liu-state-5: #9D7867;
  --liu-state-6: #5E7B87;
  --liu-state-7: #51816B;
  --liu-state-8: #8F5B77;
  --liu-state-9: #5976BA;
  --liu-state-10: #ECB165;

  /** 再最后给 body 添加背景色 */
  background-color: var(--bg-color);
}
