.editor-core .ProseMirror.virtual-cursor-enabled {
  /* Hide the native cursor */
  caret-color: transparent;
}

/** fix the issue where text selection is incorrect on iOS devices 
*  see: https://github.com/ocavue/prosemirror-virtual-cursor/issues/35
*/
.liu-ios-device .editor-core .ProseMirror.virtual-cursor-enabled {
  caret-color: var(--primary-color);
}

.ProseMirror-focused {
  /* Color of the virtual cursor */
  --prosemirror-virtual-cursor-color: var(--primary-color);
}

.ProseMirror .prosemirror-virtual-cursor {
  position: absolute;
  cursor: text;
  pointer-events: none;
  transform: translate(-0.75px);
  user-select: none;
  -webkit-user-select: none;
  border-left: 2px solid var(--prosemirror-virtual-cursor-color);
  z-index: 100;
}

.ProseMirror .prosemirror-virtual-cursor-left {
  width: 1ch;
  transform: translate(calc(-1ch + -1px));
  border-bottom: 2px solid var(--prosemirror-virtual-cursor-color);
  border-right: 2px solid var(--prosemirror-virtual-cursor-color);
  border-left: none;
}

.ProseMirror .prosemirror-virtual-cursor-right {
  width: 1ch;
  border-bottom: 2px solid var(--prosemirror-virtual-cursor-color);
  border-left: 2px solid var(--prosemirror-virtual-cursor-color);
  border-right: none;
}

.ProseMirror-focused .prosemirror-virtual-cursor-animation {
  animation: prosemirror-virtual-cursor-blink 1s linear infinite;
  animation-delay: 0.5s;
}

.liu-ios-device .ProseMirror .prosemirror-virtual-cursor,
.liu-ios-device .ProseMirror .prosemirror-virtual-cursor-left,
.liu-ios-device .ProseMirror .prosemirror-virtual-cursor-right {
  display: none;
}


@keyframes prosemirror-virtual-cursor-blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}